# OS / editor
.DS_Store
.vscode/
.idea/

# Build artifacts
*.out
*.test
*.exe
*.dll
*.so
*.dylib

# Logs
*.log

# Node / misc
node_modules/

# Temporary files
.tmp/
.cache/

# Generated frontend data
frontend/data/
frontend/assets/css/tailwind.css
frontend/assets/software-icons/
